question 1

In [6]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import time

In [7]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
browser.get(url)

In [20]:
Rank = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [21]:
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [22]:
Name = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [23]:
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Wheels on the Bus"[25]',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Waka Waka (This Time for Africa)"[42]',
 '"Faded"[43]',
 '"Let Her Go"[44]',
 '"Girls Like You"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Lakdi Ki Kathi"[50]']

In [24]:
Artist = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [25]:
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Mark Ronson',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Crazy Frog',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Shakira',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Jingle Toons']

In [26]:
Date = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [27]:
Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'May 24, 2018',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'June 4, 2010',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'June 14, 2018']

In [28]:
Views = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [29]:
Views

['12.00',
 '8.05',
 '6.57',
 '5.89',
 '5.88',
 '5.74',
 '5.08',
 '4.79',
 '4.77',
 '4.76',
 '4.64',
 '4.52',
 '4.18',
 '3.80',
 '3.70',
 '3.70',
 '3.67',
 '3.62',
 '3.53',
 '3.46',
 '3.42',
 '3.40',
 '3.38',
 '3.36',
 '3.35',
 '3.33',
 '3.31',
 '3.31',
 '3.26',
 '3.24']

In [30]:
import pandas as pd
df1 = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})
df1

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

question 2

In [32]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")
url=('https://www.bcci.tv/')
browser.get(url)

In [36]:
search_button = browser.find_element(By.XPATH,'//li[@class="nav-item"]')
search_button.click()

In [41]:
Match_Title = []
for i in browser.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    Match_Title.append(i.text)

In [42]:
Match_Title

['4th T20I -',
 '1st T20I -',
 '5th T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -']

In [44]:
Series = []
for i in browser.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    Series.append(i.text)

In [45]:
Series

['INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23']

In [46]:
Place = []

for i in browser.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)

In [47]:
Place

['Steyn City School Ground,',
 'Wankhede Stadium,',
 'Steyn City School Ground,',
 'Maharashtra Cricket Association Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'Barsapara Cricket Stadium,',
 'Eden Gardens,',
 'Greenfield International Stadium,']

In [48]:
Date = []
for i in browser.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)

In [50]:
Date

['2 JAN 2023',
 '3 JAN 2023',
 '4 JAN 2023',
 '5 JAN 2023',
 '7 JAN 2023',
 '10 JAN 2023',
 '12 JAN 2023',
 '15 JAN 2023']

In [51]:
Time = []

for i in browser.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)

In [52]:
Time

['5:15 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST']

In [54]:
import pandas as pd
df2 = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df2

,Match_Title,Series,Place,Date,Time
0,4th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",2 JAN 2023,5:15 PM IST
1,1st T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
2,5th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
3,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
4,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
5,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
6,2nd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens,",12 JAN 2023,1:30 PM IST
7,3rd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST

question 3

In [14]:
browser =  webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")
url = ("https://www.guru99.com/")
browser.get(url)

In [15]:
Name = []
Description = []

question 4

In [16]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")
url = ("https://statisticstimes.com/")
browser.get(url)

In [19]:
search_economy = browser.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
search_economy.click()

In [22]:
search_ind = browser.find_element(By.XPATH,'//td[@class="data1"]')
search_ind.click()

In [23]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [24]:
Rank = []
try:
    for i in browser.find_elements(By.XPATH,"//td[@class='data1']"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [38]:
rank=Rank[0:33]
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [41]:
print(len(rank))

33

In [26]:
State = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [44]:
state=State[0:33]
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [63]:
print(len(state))

33

In [28]:
GSDP1 = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [49]:
gsdp1=GSDP1[0:33]
gsdp1

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [62]:
print(len(gsdp1))

33

In [30]:
GSDP2 = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [51]:
gsdp2=GSDP2[0:33]
gsdp2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [61]:
print(len(gsdp2))

33

In [32]:
Share = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [54]:
share=Share[0:33]
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [60]:
print(len(share))

33

In [34]:
GDP_billion = []
try:
    for i in browser.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [56]:
gdp_billion=GDP_billion[0:33]
gdp_billion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [59]:
print(len(gdp_billion))

33

In [67]:
import pandas as pd
df4 = pd.DataFrame({'Rank':rank,'State':state,'GSDP1':gsdp1,'gsdp2':gsdp2,'Share':share,'GDP_billion':gdp_billion})
df4

   Rank                      State      GSDP1      gsdp2   Share GDP_billion
0     1                Maharashtra          -  2,632,792  13.94%     399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%     247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%     240.726
3     4                    Gujarat          -  1,502,899   7.96%     228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%     226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%     165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%     143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%     131.083
8     9                  Telangana    969,604    861,031   4.56%     130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%     122.977
10   11                     Kerala          -    781,653   4.14%     118.733
11   12                      Delhi    856,112    774,870   4.10%     117.703
12   13                    Haryana    831,610    734,163   3.89%     111.519
13   14                      Bihar    611,804    530,363   2.81%      80.562
14   15                     Punjab    574,760    526,376   2.79%      79.957
15   16                     Odisha    521,275    487,805   2.58%      74.098
16   17                      Assam          -    315,881   1.67%      47.982
17   18               Chhattisgarh    329,180    304,063   1.61%      46.187
18   19                  Jharkhand    328,598    297,204   1.57%      45.145
19   20                Uttarakhand          -    245,895   1.30%      37.351
20   21            Jammu & Kashmir          -    155,956   0.83%      23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%      23.369
22   23                        Goa     80,449     73,170   0.39%      11.115
23   24                    Tripura     55,984     49,845   0.26%       7.571
24   25                 Chandigarh          -     42,114   0.22%       6.397
25   26                 Puducherry     38,253     34,433   0.18%       5.230
26   27                  Meghalaya     36,572     33,481   0.18%       5.086
27   28                     Sikkim     32,496     28,723   0.15%       4.363
28   29                    Manipur     31,790     27,870   0.15%       4.233
29   30                   Nagaland          -     27,283   0.14%       4.144
30   31          Arunachal Pradesh          -     24,603   0.13%       3.737
31   32                    Mizoram     26,503     22,287   0.12%       3.385
32   33  Andaman & Nicobar Islands          -          -       -           -

question 5

In [68]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")

In [70]:
url = ("https://github.com/")
browser.get(url)

In [72]:
exp = browser.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
exp.click()

In [75]:
explore = browser.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')


urls = explore.get_attribute("href")
browser.get(urls)

In [76]:
repository_title = []
Description = []
Contributors = []
Language = []

In [78]:
repository_title = []
try:
    for i in browser.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]'):
        repository_title.append(i.text)
except NoSuchElementException:
        repository_title.append('-')

In [79]:
Description = []

try:
    for i in browser.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        Description.append(i.text)
except NoSuchElementException:
        Description.append('-')

In [80]:
Contributors = []
try:
    for i in browser.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']"):
        Contributors.append(i.text)
except NoSuchElementException:
        Contributors.append('-')

In [81]:
repository_title

['zlib-searcher / zlib-searcher',
 'LAION-AI / Open-Assistant',
 'vinta / awesome-python',
 '2dust / v2rayNG',
 'karpathy / nanoGPT',
 'ashemery / exploitation-course',
 'mxssl / sre-interview-prep-guide',
 'Developer-Y / cs-video-courses',
 'Z4nzu / hackingtool',
 'zakird / crux-top-lists',
 'termux / termux-packages',
 'priyankavergadia / GCPSketchnote',
 'vercel / hyper',
 'alist-org / alist',
 'ocornut / imgui',
 'calcom / cal.com',
 'pola-rs / polars',
 'github / docs',
 'jerryjliu / gpt_index',
 'OpenBB-finance / OpenBBTerminal',
 'itzg / docker-minecraft-server',
 'pmndrs / zustand',
 'google / osv-scanner',
 'jellyfin / Swiftfin',
 'laurent22 / joplin']

In [82]:
Description

['search zlib/libgen index to get ipfs_cid.',
 'OpenAssistant is a chat-based assistant that understands tasks, can interact with third-party systems, and retrieve information dynamically to do so.',
 'A curated list of awesome Python frameworks, libraries, software and resources',
 'A V2Ray client for Android, support Xray core and v2fly core',
 'The simplest, fastest repository for training/finetuning medium-sized GPTs.',
 'Offensive Software Exploitation Course',
 'Site Reliability Engineer Interview Preparation Guide',
 'List of Computer Science courses with video lectures.',
 'ALL IN ONE Hacking Tool For Hackers',
 'Downloadable snapshots of the Chrome Top Million Websites pulled from public CrUX data in BigQuery.',
 'A build system and primary set of packages for Termux.',
 'If you are looking to become a Google Cloud Engineer , then you are at the right place. GCPSketchnote is series where I share Google Cloud concepts in quick and easy to learn format.',
 'A terminal built on web technologies',
 '🗂️A file list program that supports multiple storage, powered by Gin and Solidjs. / 一个支持多存储的文件列表程序，使用 Gin 和 Solidjs。',
 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies',
 'Scheduling infrastructure for absolutely everyone.',
 'Fast multi-threaded, hybrid-streaming DataFrame library in Rust | Python | Node.js',
 'The open-source repo for docs.github.com',
 'An index created by GPT to organize external information and answer queries!',
 'Investment Research for Everyone, Anywhere.',
 'Docker image that provides a Minecraft Server that will automatically download selected version at startup',
 '🐻 Bear necessities for state management in React',
 'Vulnerability scanner written in Go which uses the data provided by https://osv.dev',
 'Native Jellyfin Client for iOS and tvOS',
 'Joplin - an open source note taking and to-do application with synchronisation capabilities for Windows, macOS, Linux, Android and iOS.']

In [83]:
Contributors

['3,278',
 '226',
 '2,815',
 '234',
 '151,707',
 '22,366',
 '18,286',
 '3,042',
 '1,164',
 '54',
 '1,388',
 '277',
 '4,147',
 '1,108',
 '48,464',
 '6,965',
 '24,206',
 '2,948',
 '366',
 '14',
 '9,552',
 '2,540',
 '3,677',
 '535',
 '39,933',
 '3,335',
 '14,603',
 '2,093',
 '44,270',
 '7,789',
 '14,981',
 '1,822',
 '11,194',
 '578',
 '12,506',
 '58,196',
 '644',
 '43',
 '18,567',
 '1,932',
 '5,799',
 '1,162',
 '25,116',
 '750',
 '3,654',
 '169',
 '994',
 '90',
 '33,723',
 '3,765']

In [89]:
import pandas as pd 
df5=pd.DataFrame({'contributors':Contributors})
df5

   contributors
0         3,278
1           226
2         2,815
3           234
4       151,707
5        22,366
6        18,286
7         3,042
8         1,164
9            54
10        1,388
11          277
12        4,147
13        1,108
14       48,464
15        6,965
16       24,206
17        2,948
18          366
19           14
20        9,552
21        2,540
22        3,677
23          535
24       39,933
25        3,335
26       14,603
27        2,093
28       44,270
29        7,789
30       14,981
31        1,822
32       11,194
33          578
34       12,506
35       58,196
36          644
37           43
38       18,567
39        1,932
40        5,799
41        1,162
42       25,116
43          750
44        3,654
45          169
46          994
47           90
48       33,723
49        3,765

In [95]:
df6 = df5[1::2]
df6

   contributors
1           226
3           234
5        22,366
7         3,042
9            54
11          277
13        1,108
15        6,965
17        2,948
19           14
21        2,540
23          535
25        3,335
27        2,093
29        7,789
31        1,822
33          578
35       58,196
37           43
39        1,932
41        1,162
43          750
45          169
47           90
49        3,765

In [97]:
Language = []
try:
    for i in browser.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']"):
        Language.append(i.text)
except NoSuchElementException:
        Language.append('-')

In [99]:
Language

['TypeScript',
 'Jupyter Notebook',
 'Python',
 'Kotlin',
 'Python',
 'Python',
 'Python',
 'Python',
 'Shell',
 'TypeScript',
 'Go',
 'C++',
 'TypeScript',
 'Rust',
 'JavaScript',
 'Python',
 'Python',
 'Shell',
 'TypeScript',
 'Go',
 'Swift',
 'TypeScript']

question 6

In [114]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")
url = ("https://www.billboard.com/")
browser.get(url)

In [119]:
search_charts = browser.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-a-font-primary-l lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest  lrv-u-padding-r-075@desktop"]')
search_charts.click()

In [122]:
Song_Name = []

for i in browser.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    Song_Name.append(i.text)

In [123]:
Song_Name

["Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'A Holly Jolly Christmas',
 'Last Christmas',
 "It's The Most Wonderful Time Of The Year",
 'Kill Bill',
 'Feliz Navidad',
 'Anti-Hero',
 'Unholy',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Sleigh Ride',
 'Underneath The Tree',
 'Christmas (Baby Please Come Home)',
 'Deck The Halls',
 'Let It Snow, Let It Snow, Let It Snow',
 'White Christmas',
 "Creepin'",
 'Rich Flex',
 "It's Beginning To Look A Lot Like Christmas",
 'Jingle Bells',
 "I'm Good (Blue)",
 "It's Beginning To Look A Lot Like Christmas",
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Die For You',
 'Blue Christmas',
 'Rudolph The Red-Nosed Reindeer',
 'Bad Habit',
 'Little Saint Nick',
 "You're A Mean One, Mr. Grinch",
 'Wonderful Christmastime',
 "Santa Claus Is Comin' To Town",
 'Run Rudolph Run',
 'As It Was',
 'Shirt',
 'Under The Influence',
 'Happy Xmas (War Is Over)',
 'Cuff It',
 'Happy Holiday / The Holiday Season',
 'Superhero (Heroes & Villains)',
 'Merry Christmas',
 'Nobody Gets Me',
 'Please Come Home For Christmas',
 'Santa Baby',
 'You Proof',
 'This Christmas',
 'Blind',
 'Linus And Lucy (Peanuts Theme)',
 'Something In The Orange',
 'Made You Look',
 'Low',
 'Super Freaky Girl',
 'Golden Hour',
 'Just Wanna Rock',
 'Tomorrow 2',
 'Lift Me Up',
 'Love Language',
 'Someday At Christmas',
 'Thank God',
 'Snooze',
 'Until I Found You',
 'Seek & Destroy',
 'Rock And A Hard Place',
 'What My World Spins Around',
 "Victoria's Secret",
 'Lavender Haze',
 'Son Of A Sinner',
 'Wait In The Truck',
 'Used',
 'Special',
 'Escapism',
 'Going, Going, Gone',
 'Heart Like A Truck',
 'Ghost In The Machine',
 'Blue Christmas',
 "Star Walkin' (League Of Legends Worlds Anthem)",
 "Santa, Can't You Hear Me",
 'SOS',
 'Whiskey On You',
 'Last Christmas',
 'Gone Girl',
 'Calm Down',
 'Too Many Nights',
 'Notice Me',
 'Open Arms',
 'Spin Bout U',
 'Smoking On My Ex Pack',
 'Niagara Falls (Foot Or 2)',
 'Circo Loco',
 'F2F',
 'Face 2 Face',
 'Kid On Christmas',
 'Romantic Homicide',
 'Conceited',
 'Down Home',
 'One Thing At A Time',
 'Hold Me Closer',
 'Far',
 'All Mine']

In [125]:
Artist_Name =[]
for i in browser.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    Artist_Name.append(i.text)

In [126]:
Artist_Name

['Brenda Lee',
 'Bobby Helms',
 'Burl Ives',
 'Wham!',
 'Andy Williams',
 'SZA',
 'Jose Feliciano',
 'Taylor Swift',
 'Sam Smith & Kim Petras',
 'Nat King Cole',
 'Ariana Grande',
 'The Ronettes',
 'Kelly Clarkson',
 'Darlene Love',
 'Nat King Cole',
 'Dean Martin',
 'Bing Crosby',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Drake & 21 Savage',
 'Michael Buble',
 'Frank Sinatra',
 'David Guetta & Bebe Rexha',
 'Perry Como And The Fontane Sisters With Mitchell Ayres And His Orchestra',
 'Gene Autry',
 'The Weeknd',
 'Elvis Presley',
 'Gene Autry',
 'Steve Lacy',
 'The Beach Boys',
 'Thurl Ravenscroft',
 'Paul McCartney',
 'Jackson 5',
 'Chuck Berry',
 'Harry Styles',
 'SZA',
 'Chris Brown',
 'John & Yoko/The Plastic Ono Band With The Harlem Community Choir',
 'Beyonce',
 'Andy Williams',
 'Metro Boomin, Future & Chris Brown',
 'Ed Sheeran & Elton John',
 'SZA',
 'Eagles',
 'Eartha Kitt With Henri Rene And His Orchestra',
 'Morgan Wallen',
 'Donny Hathaway',
 'SZA',
 'Vince Guaraldi Trio',
 'Zach Bryan',
 'Meghan Trainor',
 'SZA',
 'Nicki Minaj',
 'JVKE',
 'Lil Uzi Vert',
 'GloRilla & Cardi B',
 'Rihanna',
 'SZA',
 'Lizzo',
 'Kane Brown With Katelyn Brown',
 'SZA',
 'Stephen Sanchez',
 'SZA',
 'Bailey Zimmerman',
 'Jordan Davis',
 'Jax',
 'Taylor Swift',
 'Jelly Roll',
 'HARDY Featuring Lainey Wilson',
 'SZA Featuring Don Toliver',
 'SZA',
 'RAYE Featuring 070 Shake',
 'Luke Combs',
 'Lainey Wilson',
 'SZA Featuring Phoebe Bridgers',
 'Kane Brown',
 'Lil Nas X',
 'Kelly Clarkson & Ariana Grande',
 'SZA',
 'Nate Smith',
 'Lauren Spencer-Smith',
 'SZA',
 'Rema & Selena Gomez',
 'Metro Boomin Featuring Don Toliver & Future',
 'SZA',
 'SZA Featuring Travis Scott',
 'Drake & 21 Savage',
 'SZA',
 'Metro Boomin, Travis Scott & 21 Savage',
 'Drake & 21 Savage',
 'SZA',
 'Juice WRLD',
 'Pentatonix Featuring Meghan Trainor',
 'd4vd',
 'SZA',
 'Jimmie Allen',
 'Morgan Wallen',
 'Elton John & Britney Spears',
 'SZA',
 'Brent Faiyaz']

In [128]:
Last_week_rank = []
try:
    for i in browser.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')

In [130]:
Last_week_rank

['2',
 '2',
 '51',
 '',
 '',
 '',
 '4',
 '3',
 '48',
 '',
 '',
 '',
 '5',
 '4',
 '31',
 '',
 '',
 '',
 '6',
 '5',
 '30',
 '',
 '',
 '',
 '8',
 '5',
 '32',
 '',
 '',
 '',
 '3',
 '3',
 '2',
 '',
 '',
 '',
 '11',
 '6',
 '25',
 '',
 '',
 '',
 '7',
 '1',
 '9',
 '',
 '',
 '',
 '9',
 '1',
 '13',
 '',
 '',
 '',
 '15',
 '11',
 '37',
 '',
 '',
 '',
 '19',
 '12',
 '17',
 '',
 '',
 '',
 '16',
 '10',
 '21',
 '',
 '',
 '',
 '20',
 '12',
 '20',
 '',
 '',
 '',
 '25',
 '15',
 '16',
 '',
 '',
 '',
 '31',
 '16',
 '7',
 '',
 '',
 '',
 '22',
 '8',
 '24',
 '',
 '',
 '',
 '27',
 '12',
 '29',
 '',
 '',
 '',
 '13',
 '5',
 '3',
 '',
 '',
 '',
 '14',
 '2',
 '7',
 '',
 '',
 '',
 '35',
 '20',
 '14',
 '',
 '',
 '',
 '36',
 '22',
 '8',
 '',
 '',
 '',
 '26',
 '7',
 '17',
 '',
 '',
 '',
 '23',
 '12',
 '17',
 '',
 '',
 '',
 '39',
 '25',
 '14',
 '',
 '',
 '',
 '33',
 '12',
 '21',
 '',
 '',
 '',
 '41',
 '27',
 '7',
 '',
 '',
 '',
 '47',
 '16',
 '21',
 '',
 '',
 '',
 '28',
 '1',
 '25',
 '',
 '',
 '',
 '-',
 '30',
 '3',
 '',
 '',
 '',
 '-',
 '31',
 '6',
 '',
 '',
 '',
 '-',
 '28',
 '7',
 '',
 '',
 '',
 '48',
 '33',
 '5',
 '',
 '',
 '',
 '46',
 '10',
 '16',
 '',
 '',
 '',
 '38',
 '1',
 '38',
 '',
 '',
 '',
 '18',
 '11',
 '8',
 '',
 '',
 '',
 '45',
 '14',
 '15',
 '',
 '',
 '',
 '-',
 '38',
 '3',
 '',
 '',
 '',
 '42',
 '13',
 '19',
 '',
 '',
 '',
 '-',
 '18',
 '14',
 '',
 '',
 '',
 '34',
 '8',
 '3',
 '',
 '',
 '',
 '-',
 '42',
 '5',
 '',
 '',
 '',
 '10',
 '10',
 '2',
 '',
 '',
 '',
 '-',
 '18',
 '11',
 '',
 '',
 '',
 '-',
 '35',
 '4',
 '',
 '',
 '',
 '49',
 '5',
 '32',
 '',
 '',
 '',
 '-',
 '39',
 '2',
 '',
 '',
 '',
 '12',
 '12',
 '2',
 '',
 '',
 '',
 '-',
 '37',
 '2',
 '',
 '',
 '',
 '53',
 '12',
 '35',
 '',
 '',
 '',
 '50',
 '24',
 '9',
 '',
 '',
 '',
 '17',
 '17',
 '2',
 '',
 '',
 '',
 '56',
 '1',
 '19',
 '',
 '',
 '',
 '59',
 '35',
 '17',
 '',
 '',
 '',
 '60',
 '21',
 '10',
 '',
 '',
 '',
 '57',
 '9',
 '13',
 '',
 '',
 '',
 '51',
 '2',
 '8',
 '',
 '',
 '',
 '21',
 '21',
 '2',
 '',
 '',
 '',
 '73',
 '59',
 '4',
 '',
 '',
 '',
 '63',
 '22',
 '15',
 '',
 '',
 '',
 '29',
 '29',
 '2',
 '',
 '',
 '',
 '64',
 '38',
 '25',
 '',
 '',
 '',
 '24',
 '24',
 '2',
 '',
 '',
 '',
 '66',
 '24',
 '28',
 '',
 '',
 '',
 '69',
 '41',
 '19',
 '',
 '',
 '',
 '67',
 '35',
 '21',
 '',
 '',
 '',
 '65',
 '2',
 '9',
 '',
 '',
 '',
 '70',
 '31',
 '25',
 '',
 '',
 '',
 '72',
 '51',
 '16',
 '',
 '',
 '',
 '30',
 '30',
 '2',
 '',
 '',
 '',
 '37',
 '37',
 '2',
 '',
 '',
 '',
 '79',
 '72',
 '3',
 '',
 '',
 '',
 '88',
 '73',
 '6',
 '',
 '',
 '',
 '82',
 '74',
 '6',
 '',
 '',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '84',
 '76',
 '3',
 '',
 '',
 '',
 '75',
 '32',
 '13',
 '',
 '',
 '',
 '92',
 '78',
 '3',
 '',
 '',
 '',
 '32',
 '32',
 '2',
 '',
 '',
 '',
 '80',
 '44',
 '27',
 '',
 '',
 '',
 '94',
 '81',
 '4',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '83',
 '74',
 '16',
 '',
 '',
 '',
 '68',
 '22',
 '3',
 '',
 '',
 '',
 '44',
 '44',
 '2',
 '',
 '',
 '',
 '54',
 '54',
 '2',
 '',
 '',
 '',
 '78',
 '5',
 '7',
 '',
 '',
 '',
 '52',
 '52',
 '2',
 '',
 '',
 '',
 '71',
 '27',
 '3',
 '',
 '',
 '',
 '87',
 '8',
 '7',
 '',
 '',
 '',
 '55',
 '55',
 '2',
 '',
 '',
 '',
 '-',
 '92',
 '1',
 '',
 '',
 '',
 '-',
 '93',
 '1',
 '',
 '',
 '',
 '86',
 '33',
 '16',
 '',
 '',
 '',
 '58',
 '58',
 '2',
 '',
 '',
 '',
 '-',
 '88',
 '5',
 '',
 '',
 '',
 '81',
 '37',
 '3',
 '',
 '',
 '',
 '89',
 '6',
 '17',
 '',
 '',
 '',
 '61',
 '61',
 '2',
 '',
 '',
 '',
 '95',
 '42',
 '20',
 '',
 '',
 '']

In [131]:
import pandas as pd
df6 = pd.DataFrame({'last_rank':Last_week_rank})
df6

    last_rank
0           2
1           2
2          51
3
4
..        ...
589        42
590        20
591
592
593

[594 rows x 1 columns]

question 7

In [133]:
browser = webdriver.Chrome(r"C:\Users\MAYANK\Downloads\chromedriver_win32 (1) \chromedriver.exe")
url = ("https://www.naukri.com/")
browser.get(url)
time.sleep(3)

In [134]:
recruiter = browser.find_element(By.XPATH,'//a[@title='Search Recruiters']")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

SyntaxError: invalid syntax (654093416.py, line 1)